NET "led0" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "led1" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "led2" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "led3" LOC = P131 | IOSTANDARD = LVTTL | PULLUP;
NET "led4" LOC = P30 | IOSTANDARD = LVTTL | PULLUP;
NET "led5" LOC = P27 | IOSTANDARD = LVTTL | PULLUP;
NET "led6" LOC = P134 | IOSTANDARD = LVTTL | PULLUP;
NET "led7" LOC = P132 | IOSTANDARD = LVTTL | PULLUP;
NET "led8" LOC = P127 | IOSTANDARD = LVTTL | PULLUP;
NET "led9" LOC = P124 | IOSTANDARD = LVTTL | PULLUP;
NET "led10" LOC = P50 | IOSTANDARD = LVTTL | PULLUP;
NET "led11" LOC = P40 | IOSTANDARD = LVTTL | PULLUP;
NET "led12" LOC = P34 | IOSTANDARD = LVTTL | PULLUP;
NET "led13" LOC = P32 | IOSTANDARD = LVTTL | PULLUP;
NET "led14" LOC = P29 | IOSTANDARD = LVTTL | PULLUP;
NET "led15" LOC = P133 | IOSTANDARD = LVTTL | PULLUP;