NET "led0" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "led1" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "led2" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "led3" LOC = P33 | IOSTANDARD = LVTTL | PULLUP;
NET "led4" LOC = P30 | IOSTANDARD = LVTTL | PULLUP;
NET "led5" LOC = P27 | IOSTANDARD = LVTTL | PULLUP;
NET "led6" LOC = P24 | IOSTANDARD = LVTTL | PULLUP;
NET "led7" LOC = P22 | IOSTANDARD = LVTTL | PULLUP;
NET "led8" LOC = P17 | IOSTANDARD = LVTTL | PULLUP;
NET "led9" LOC = P15 | IOSTANDARD = LVTTL | PULLUP;
NET "led10" LOC = P12 | IOSTANDARD = LVTTL | PULLUP;
NET "led11" LOC = P10 | IOSTANDARD = LVTTL | PULLUP;
NET "led12" LOC = P8 | IOSTANDARD = LVTTL | PULLUP;
NET "led13" LOC = P6 | IOSTANDARD = LVTTL | PULLUP;
NET "led14" LOC = P2 | IOSTANDARD = LVTTL | PULLUP;
NET "led15" LOC = P144 | IOSTANDARD = LVTTL | PULLUP;
