NET "led0" LOC = P51;
NET "led0" IOSTANDARD = LVTTL;
NET "led0" PULLUP;
NET "led1" LOC = P41;
NET "led1" IOSTANDARD = LVTTL;
NET "led1" PULLUP;
NET "led2" LOC = P35;
NET "led2" IOSTANDARD = LVTTL;
NET "led2" PULLUP;
NET "led3" LOC = P131;
NET "led3" IOSTANDARD = LVTTL;
NET "led3" PULLUP;
NET "led4" LOC = P30;
NET "led4" IOSTANDARD = LVTTL;
NET "led4" PULLUP;
NET "led5" LOC = P27;
NET "led5" IOSTANDARD = LVTTL;
NET "led5" PULLUP;
NET "led6" LOC = P134;
NET "led6" IOSTANDARD = LVTTL;
NET "led6" PULLUP;
NET "led7" LOC = P132;
NET "led7" IOSTANDARD = LVTTL;
NET "led7" PULLUP;
NET "led8" LOC = P127;
NET "led8" IOSTANDARD = LVTTL;
NET "led8" PULLUP;
NET "led9" LOC = P124;
NET "led9" IOSTANDARD = LVTTL;
NET "led9" PULLUP;
NET "led10" LOC = P50;
NET "led10" IOSTANDARD = LVTTL;
NET "led10" PULLUP;
NET "led11" LOC = P40;
NET "led11" IOSTANDARD = LVTTL;
NET "led11" PULLUP;
NET "led12" LOC = P34;
NET "led12" IOSTANDARD = LVTTL;
NET "led12" PULLUP;
NET "led13" LOC = P32;
NET "led13" IOSTANDARD = LVTTL;
NET "led13" PULLUP;
NET "led14" LOC = P29;
NET "led14" IOSTANDARD = LVTTL;
NET "led14" PULLUP;
NET "led15" LOC = P133;
NET "led15" IOSTANDARD = LVTTL;
NET "led15" PULLUP;
